
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http;

<h3> Chào mừng @ViewBag.sv đã đến với hệ thống của chúng tôi</h3> 
<div>
    <h5>@ViewBag.note</h5>
</div>

